body {
  margin: 0;
}

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0; left: 0; right: 0;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
